* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(white, grey);
  .card {
    width: 300px;
    min-height: 400px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: linear-gradient(
      rgba(216, 216, 216, 0.575),
      rgba(112, 97, 97, 0.527)
    );
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    .card-top {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      figure {
        margin-right: 5px;
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      .card-title {
        h2 {
          text-transform: uppercase;
          font-size: 38px;
        }
        h3 {
          text-transform: uppercase;
          font-size: 14px;
        }
      }
    }
    .card-img {
      margin: 0 -10px;
      img {
        width: 100%;
      }
    }
    .card-footer {
      display: grid;
      grid-template-columns: 4fr 2fr;
      .card-social {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 20px;
        i {
          margin: 0 10px;
          transition: 0.3s;
        }
        i:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
