$color-background: #568ff0;
$color-soft: #7d99c9;
$color-dark: #1c68ec;

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@mixin effect_neumorphism($border_radio) {
  border-radius: $border_radio;
  background: $color-background;
  box-shadow: 20px 20px 60px #497acc, -20px -20px 60px #63a4ff;
}

body {
  background-color: $color-background;
}

.wrapper {
  width: 400px;
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 300px auto auto;
  background-color: $color-background;
  @include effect_neumorphism(20px);
}

.header {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include effect_neumorphism(10px);
  color: $color-dark;
}

.cards {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards div {
  width: 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include effect_neumorphism(50px);
  img {
    width: 90%;
    border-radius: 30px;
    filter: opacity(0.85);
  }
}

.progress-bar {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    color: $color-dark;
    margin: 0 10px;
  }
  input {
    box-sizing: border-box;
    width: 80%;
    height: 6px;
    -webkit-appearance: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10px;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .play {
    width: 120px;
    height: 120px;
    padding-left: 10px;
    @include effect_neumorphism(50px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: $color-soft;
  }
  .back,
  .next {
    width: 90px;
    height: 90px;
    @include effect_neumorphism(50px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: $color-soft;
  }
}
